<app-navigation></app-navigation>

<div id="layoutSidenav">

  <app-sidebar></app-sidebar>

  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid px-4 py-5">

        <div class="row justify-content-center">

          <div class="col-md-10" *ngFor="let blog of blogs | paginate: { itemsPerPage: size, currentPage: page, totalItems: totalItems }; let i = index">

            <h6 class="h6 mt-3 text-muted">{{ blog.category }}</h6>
            <h2 class="h2">{{ blog.title }}</h2>
            <h2 class="h5"><span class="font-monospace">Rafsanjani</span><small class="mx-3 text-dark small-text">{{formatDate(blog.date)}}</small></h2>
            <p class="mt-2 mb-5">
              {{blog.description.substring(0, 300)}}...
              <a routerLink="/blog/article/{{blog.link}}" class="text-decoration-none">Read More</a>
            </p>
          </div>

          <div class="row">
            <div class="col-md-10 text-center">
              <pagination-controls
                class="text-decoration-none"
                previousLabel="Prev"
                nextLabel="Next"
                [responsive]="true"
                (pageChange)="handlePageChange($event)">
              </pagination-controls>
            </div>
          </div>
          </div>
        </div>
    </main>
    <app-footer></app-footer>
  </div>
</div>
