<div class="row">
  <h6 class="h6">EXPERIENCE</h6><hr />

  @for (experience of experiences; track $index) {

    <div class="col-xl-12 mb-3">

      @if (experience.title){

        <div class="row">
          <div class="col-md-8 mb-3">
            <h4>
              <span class="fw-bold">{{ experience.title }}</span> &#64; <span class="fw-bold"><a [href]=experience.website target="_blank">{{ experience.company }}</a></span>
            </h4>
          </div>
          <div class="col-md-4 text-sm-end">
            <span class="text-info-emphasis">{{ experience.tenure }}</span>
          </div>
        </div>
      }

      @for (project of experience.projects; track $index) {

        <div class="row">
          <div class="col-md-12 mb-4">

            <h5 class="mb-2">{{ project.title }} — {{ project.subtitle }}</h5>

            <h6>The Problem</h6>
            <p>{{ project.problem }}</p>

            <h6>My Role</h6>
            <p>{{ project.role }}</p>
            <p>
              <span class="fw-semibold">Technology:</span>
              @if (project.technologies.length > 0){
                {{ project.technologies.join(", ")}}<br />
              }
            </p>

            <h6>Key Engineering Contributions</h6>
            <ul class="mb-4">
              @for (contribution of project.contributions; track $index) {

                <li>{{ contribution }}</li>
              }
            </ul>

            <h6>Impact</h6>
            <p>
              @for (impact of project.impacts; track $index) {

                <div>- {{ impact }}</div>
              }
            </p>
          </div>
        </div>
      }

    </div>
  }

</div>
