<div class="row">
  <h6 class="h6">EXPERIENCE</h6><hr />

  @for (experience of experiences; track $index) {

    <div class="col-xl-12 mb-3">

      @if (experience.title){
        <span class="fw-bold">{{ experience.title }}</span> &#64; <span class="fw-bold"><a [href]=experience.website target="_blank">{{ experience.company }}</a></span> | {{ experience.employment_type }}
      }

      @for (project of experience.projects; track $index) {

        <p>

          @if (project.name){
            <span class="fw-medium">{{ project.name }}</span> – {{ project.type }} @if (project.url){ | <a [href]=project.url target="_blank">URL</a> } <br />
          }

          @if (project.technologies.length > 0){

            <span class="fw-semibold">Technology:</span> {{ project.technologies.join(", ")}}<br />
          }

          @if (project.role){

            <span class="fw-semibold">Role:</span> {{ project.role }} |
            <span class="fw-semibold">Team:</span> {{ project.team_size }} |
            <span class="fw-semibold">Duration:</span> {{ project.development_duration }} |
            <span class="fw-semibold">Status:</span> {{ project.status }}<br />
          }

          @for (highlight of project.highlights; track $index) {

            <div>- {{ highlight }}</div>
          }
        </p>
      }
    </div>
  }

</div>
