<app-navigation></app-navigation>

<div id="layoutSidenav">

  <app-sidebar></app-sidebar>

  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid px-4 py-5">

        <div class="row justify-content-center">

          <div class="col-md-10" *ngIf="article">
            <h6 class="h6 mt-5 text-success text-center">{{ article.category.name }}</h6>
            <h1 class="h1 mt-3 text-center">{{ article.title }}</h1>
            <h2 class="h5 text-center">
              <span class="font-monospace">Rafsanjani</span>
              <small class=" mx-3 text-dark small-text">{{formatDate(article.date)}}</small>
            </h2>
            <p class="mt-5">{{article.description}}</p>
          </div>

        </div>
      </div>
    </main>
    <app-footer></app-footer>
  </div>
</div>
