<app-navigation></app-navigation>

<div id="layoutSidenav">

  <app-sidebar></app-sidebar>

  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid px-4 py-5">

        <div class="row" id="about">
          <h2 class="mb-5 h2">About</h2>
          <div class="row">
            <div class="col-md-3 text-center">
              <img ngSrc="assets/images/rafsanjani.png" alt="picture"
                   class="img-thumbnail" width="200" height="200" style="border-radius: 100px"
                   />

            </div>
            <div class="col-md-9">
              <p class="justify-content-evenly">
                I am a full stack developer interested in enterprise level scalable multi-tenant
                and event-driven microservice system design to evolve as a successful solution
                architect. I have experience in all stages of software development life cycle
                with proven track records.
              </p>
              <p>Tags: #Java #Fullstack</p>
            </div>
          </div>
        </div>

        <div class="row" id="skill">
          <h2 class="mt-5 mb-3 h2">Skills</h2>
          <div class="col-lg-12">
            <ul class="list-unstyled">
              <li class="font-monospace">
                <span class="fw-bold">Frontend:</span> Angular, ReactJS, JavaScript, HTML, CSS, Bootstrap
              </li>
              <li class="font-monospace">
                <span class="fw-bold">Backend:</span> Spring (Boot, MVC, JPA, Security, Cloud, Batch), Quartz, Servlet, J2EE, JSF, JSP
              </li>
              <li class="font-monospace">
                <span class="fw-bold">Database:</span> Oracle, PostgreSQL, MySQL, MongoDB, Elastic Search, Redis
              </li>
              <li class="font-monospace">
                <span class="fw-bold">AWS:</span> EC2, Athena, Dynamodb, Redshift, Chime, IAM
              </li>
              <li class="font-monospace">
                <span class="fw-bold">Server:</span> Docker, Heroku, Tomcat
              </li>
              <li class="font-monospace">
                <span class="fw-bold">Source Code Management:</span> Jira, Confluence, Atlassian, GitHub, Bitbucket, Jenkins
              </li>
              <li class="font-monospace">
                <span class="fw-bold">Build System:</span> Maven, Gradle
              </li>
              <li class="font-monospace">
                <span class="fw-bold">Message Broker:</span> RabbitMQ, ActiveMQ, Apache Kafka
              </li>
            </ul>
          </div>
        </div>

        <div class="row" id="experience">
          <h2 class="mt-5 mb-3 h2">Experiences</h2>
          <div class="col-lg-12" *ngFor="let experience of experiences">
            <h5 class="text-brown-primary">{{ experience.designation }}</h5>
            <h6 class="text-brown-secondary"><a href="{{experience.url}}" class="text-decoration-none" target="_blank">{{ experience.organization }}</a> | ({{ experience.mode}})</h6>
            <p>Responsibilities:</p>
            <ul>
              <li *ngFor="let responsibility of experience.responsibility">{{ responsibility }}</li>
            </ul>
          </div>
        </div>

        <div class="row" id="education">
          <h2 class="mt-5 mb-3">Education</h2>
          <div class="col-lg-12">
            <ul class="list-unstyled">
              <li *ngFor="let education of educations" class="mb-4">
                <div *ngIf="education.active">
                  <h5 class="h6 text-brown-primary">{{education.degree}} <span class="text-dark-ash">({{education.year}})</span></h5>
                  <h6><a class="text-decoration-none" href="{{education.url}}" target="_blank">{{education.institute}}</a></h6>
                  <h6>Result: {{education.result}}</h6>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="row" id="portfolio">
          <h2 class="mt-5 mb-3">Portfolio</h2>
          <div class="col-lg-12">
            <ul class="list-unstyled">
              <li *ngFor="let portfolio of projects" class="mb-4">
                <h5 class="h5 text-brown-primary">{{portfolio.title}}
                  <a *ngIf="portfolio.url" href="{{portfolio.url}}" target="_blank"><fa-icon [icon]="faLink" class="text-primary"></fa-icon></a>
                </h5>
                <h6 class="h6">Contributions:</h6>
                <ul *ngFor="let work of portfolio.contribution">
                  <li>{{ work }}</li>
                </ul>
                <p class="mt-2">Technologies:<span class="mx-1">{{ portfolio.technology }}</span></p>
              </li>
            </ul>
          </div>
        </div>

        <div class="row" id="opensource">
          <h2 class="mt-5 mb-3">Opensource Contributions</h2>
          <div class="col-lg-12">
            <ul class="list-unstyled">
              <li *ngFor="let opensource of opensources" class="mb-4">
                <h5 class="h5 text-brown-primary">{{opensource.title}}
                  <a *ngIf="opensource.url" href="{{opensource.url}}" target="_blank"><fa-icon [icon]="faLink" class="text-primary"></fa-icon></a>
                </h5>
                <h6 class="h6">Contributions:</h6>
                <p>{{ opensource.description }}</p>
                <p class="mt-2">Technologies:<span class="mx-1">{{ opensource.technology }}</span></p>
              </li>
            </ul>
          </div>
        </div>

        <div class="row" id="research">
          <h2 class="mt-5 mb-3">Research Publications</h2>
          <div class="col-lg-12">
            <ul class="list-unstyled">
              <li>
                <h6 class="h6 text-brown-primary">Automatic Program Repair with Deep Learning
                  <span class="text-dark-ash">(On-going)</span>
                </h6>
              </li>
              <li>
                <h6 class="h6 text-brown-primary">Violent Human Behavior Detection from Videos Using Machine Learning
                  <span class="text-dark-ash">(DUJASE, 2022)</span>
                </h6>
              </li>
            </ul>
          </div>
        </div>

        <div class="row" id="teaching">
          <h2 class="mt-5 mb-3">Teaching Experiences</h2>
          <div class="col-lg-12">
            <ul class="list-unstyled">
              <li *ngFor="let teaching of teachings" class="mb-4">
                <h4 class="h5 text-brown-primary">{{teaching.role}}</h4>
                <h5><a href="{{teaching.url}}" target="_blank" class="text-decoration-none">{{teaching.organization}}</a></h5>
                <h6 class="h6">Topics:</h6>
                <ul *ngFor="let work of teaching.course">
                  <li>{{ work }}</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </main>
    <app-footer></app-footer>
  </div>
</div>

