.text-brown-primary {
  font-family: 'Verdana';
  color: #8E3200;
  font-weight: bold;
}

.text-brown-secondary {
  font-family: 'Verdana';
  color: #A64B2A;
}


.text-dark-ash {
  color: #1a1e21;
  font-family: Verdana;
}
