
<div id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="row mb-3">
      <div class="col-md-12 text-center mt-3 mb-2">
        <img src="assets/images/rafsanjani.png" alt="picture" class="img-thumbnail" width="150" style="border-radius: 100px" />
      </div>
      <div class="col-md-12 text-center mb-2">
        <a href="http://github.com/sadatrafsanjani" target="_blank" class="mx-2 text-light">
          <fa-icon [icon]="faGithub" size="1x" [border]="true"></fa-icon>
        </a>
        <a href="http://linkedin.com/in/sadatrafsanjani" target="_blank" class="mx-2 text-primary">
          <fa-icon [icon]="faLinkedin" size="1x" [border]="true"></fa-icon>
        </a>
        <a href="http://youtube.com/c/sadatrafsanjani" target="_blank" class="mx-2 text-danger">
          <fa-icon [icon]="faYoutube" size="1x" [border]="true"></fa-icon>
        </a>
      </div>
    </div>

    <div class="sb-sidenav-menu bg-dark">

      <div class="nav">
        <a class="nav-link border-bottom border-top" href="#about">
          <div class="sb-nav-link-icon"><fa-icon [icon]="faPerson" class="text-info"></fa-icon></div>
          About
        </a>
        <a class="nav-link border-bottom" href="#skill">
          <div class="sb-nav-link-icon"><fa-icon [icon]="faTools" class="text-info"></fa-icon></div>
          Skills
        </a>
        <a class="nav-link border-bottom" href="#experience">
          <div class="sb-nav-link-icon"><fa-icon [icon]="faBuilding" class="text-info"></fa-icon></div>
          Experience
        </a>
        <a class="nav-link border-bottom" href="#education">
          <div class="sb-nav-link-icon"><fa-icon [icon]="faUniversity" class="text-info" size="1x"></fa-icon></div>
          Education
        </a>
        <a class="nav-link border-bottom" href="#portfolio">
          <div class="sb-nav-link-icon"><fa-icon [icon]="faCode" class="text-info" size="1x"></fa-icon></div>
          Portfolio
        </a>
        <a class="nav-link border-bottom" href="#opensource">
          <div class="sb-nav-link-icon"><fa-icon [icon]="faGithub" class="text-info" size="1x"></fa-icon></div>
          Open-source
        </a>
        <a class="nav-link border-bottom" href="#research">
          <div class="sb-nav-link-icon"><fa-icon [icon]="faMicroscope" class="text-info" size="1x"></fa-icon></div>
          Research
        </a>
        <a class="nav-link border-bottom" href="#teaching">
          <div class="sb-nav-link-icon"><fa-icon [icon]="faBlackboard" class="text-info" size="1x"></fa-icon></div>
          Teaching
        </a>
      </div>
    </div>
  </nav>
</div>
